{% extends "base.html" %}
{% block title %}Katak{% endblock %}
{% block body %}
    <h1>Katak <small>&alpha;</small></h1>
    <h4>A first-order Markov Chain trained on social network entries</h4>
    <small><b>M. Benedicto, J. Cortez, F. Panganiban</b></small><br/>
    <small>CS 180: Artificial Intelligence (P. Regonia), Department of Computer Science, University of the Phillipines - Diliman</small>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                <h2>Upload a corpus source</h2>
                <p>You may upload a .txt file as an additional source for training the Markov Chain.</p>
                <form action="/corpus/upload/" method="POST" enctype="multipart/form-data" class="form-horizontal">
                {% csrf_token %}
                <div class="control-group">
                    <div class="col-md-8">
                    <input type="file" name="corpusFile" class="form-control"/>
                    </div>
                    <div class="col-md-4">
                    <input type="submit" value="Upload" class="btn btn-success"/>
                    </div>
                </div>
                </form>
                </div>
                {% if corpusFiles %}
                <div class="col-md-12">
                <h3>Existing source files</h3>
                <ul>
                    {% for cf in corpusFiles %}
                    <li>
                        {{ cf.fileName }}
                        {% if not cf.trained %}
                            <button class="btn btn-info btn-xs trainbutton" file-id="{{cf.id}}">Train</button>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                <h2>Import from Facebook or Twitter</h2>
                <p>The best way to use Katak is to train the Markov Chain using your social network accounts.</p>
                {% if not twitter %}
                <a class="btn btn-default" href="/twitter/send/"><i class="fa fa-twitter"></i> Connect to Twitter</a>
                {% else %}
                    {% if not twitter_trained %}
                        <button class="btn btn-info" id="train-tweets"><i class="fa fa-twitter"></i> Train from Tweets</button>
                    {% else %}
                        <button class="btn btn-success" disabled="disabled"><i class="fa fa-twitter"></i> Trained from Twitter</button>
                    {% endif %}
                {% endif %}
                {% if not facebook %}
                    <button class="btn btn-default" id="connect-facebook"><i class="fa fa-facebook"></i> Connect to Facebook</button>
                {% else %}
                    <button class="btn btn-info" id="train-facebook"><i class="fa fa-facebook"></i> Train from Facebook Posts</button>
                {% endif %}
                <div id="fb-root"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-warning hidden" id="sorry">Unfortunately, Facebook has not yet approved our app permission to pull your Facebook posts. We apologize for that. Check back soon!</div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row" style="text-align: center;">
        <div class="col-md-12">
        <h1>Generate string!</h1>
        <p>Here comes the fun part. With the sources listed above, Katak will generate a string from Markov Chain.</p>
        <h2 id="outString"></h2>
        <button class="btn btn-info" id="generate">Generate</button>
        </div>
    </div>
    <hr/>
    <center><small style="color: #AAAAAA">All corpus and social network data are only stored temporarily. We do not save your login credentials.<br/>Your session ID is: {{sessionId}}</small></center>

{% endblock %}
{% block js %}
<script type="text/javascript">
$(document).ready(function() {
    // Load Facebook SDK
    $.ajaxSetup({ cache: true });
      $.getScript('//connect.facebook.net/en_UK/all.js', function(){
        FB.init({
          appId: '309793455878463',
        });
      });


    // Train corpus
    $(".trainbutton").click(function(evt) {
        var that = $(this);
        var fileId = $(this).attr('file-id');
        $(this).attr('disabled', 'disabled').text("Training...");
        $.get("/corpus/train/?fileId="+fileId, function(data) {
            if (data == "OK") {
                that.hide();
            }
        })
    })

    // Train Twitter
    $("#train-tweets").click(function(evt) {
        var that = $(this);
        $(this).attr('disabled', 'disabled').text("Training...");
        $.get("/twitter/train/", function(data) {
            if (data == "OK") {
                that.removeClass("btn-info").addClass("btn-success").text("Trained from Twitter");
            }
        })
    })

    // Connect Facebook
    $("#connect-facebook").click(function(evt) {
        var that = $(this);
        FB.login(function(response) {
            if (response.authResponse) {
                $.ajax({
                    type: "POST",
                    url: "/facebook/savetoken/",
                    data: {
                        token: response.authResponse.accessToken
                    }
                }).done(function(response) {
                        if (response == 'OK') {
                            console.log("Facebook ok");
                            that.html('<i class="fa fa-facebook"></i> Train from Facebook Posts').removeClass('btn-default').addClass('btn-info');
                        } else {
                            console.log(response);
                        }
                });
            } else {
                console.log("Facebook oAuth login failed.");
            }
        });
    });

    // Train Facebook
    $("#train-facebook").click(function(evt) {
        $("#sorry").removeClass("hidden").fadeIn();
        /*$.get("/facebook/train/", function(response) {
            if (response == 'OK') {

            }
        });*/
    });

    // Generate
    $("#generate").click(function(evt) {
        $.get("/markov/generate", function(text) {
            $("#outString").text(text);
            $("#outString").css({"font-size": "50"}).animate({"font-size": "25"}, 500);
        })
    });
});
</script>
{% endblock %}